{% extends "base.html" %}

{% block contenido %}

<h3 style='color: red'>
  <strong>Title:</strong> {{object.title}}
</h3>
<h5 style='color: blue'>
  <strong>Subtitle:</strong> {{object.subTitle}}
</h5>
  <p>
    <img src="{{ object.image.url}}" width = "600" >
</p>

<h6>
  <strong>Blog:</strong> {{object.body}}
</h6>
<p>
  <strong>Author:</strong> {{object.author}}
</p>
<p>
  <strong>Date of issue:</strong> {{object.date}}
</p>

<br>
<a href="{% url 'list_articless' %}">Volver lista</a>
<a href="{% url 'edit_articles' object.id %}">Editar</a>

{% endblock contenido %}
