{% extends "base.html" %}

{% block titulo %}
<title>Articles List</title>
{% endblock titulo %}

{% block contenido %}
<h3>Articles List</h3>
<a href="{% url 'create_articles' %}">Crear Nuevo Blog</a>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>title</th>
      <th>Subtitle</th>
      <th>Author</th>
      <th>Date</th>
      <th>Image</th>
    </tr>
   {% if object_list %}
    {% for article in object_list %}
 
 
    <tr>
      <td>{{ article.id }}</td>
      <td>{{ article.title }}</td>
      <td>{{ article.subTitle }}</td>
      <td>{{ article.author }}</td>
      <td>{{ article.date }}</td>
      <td>
     {% if article.image %}
      <img src="{{ article.image.url}}" width = "100" height ="100">
       {% endif %}
      </td>
      <td>
        <a href="{% url 'ver_articles' article.id %}">Ver</a>
      </td>
      <td>
        <a href="{% url 'edit_articles' article.id %}">Editar</a>
      </td>
      <td>
        <a href="{% url 'delete_articles' article.id %}">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <br />
    <h2 style="color: red">No articles now!</h2>
    {% endif %}
  </tbody>
</table>
{% endblock contenido %}
